@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	height: 100%;
	width: 100%;
	position: absolute;
	padding: 0px;
	margin: 0px;
	zoom: 1;
}
#wrapper {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 609px;
	margin-left: auto;
	margin-right: auto;
}
h2 {
	position: relative;
	text-align: center;
	width: 100%;
	border-top: 1px solid #222222;
	color: #222;
	font: 800 20px/20px "open sans";
	margin: 25px 0 5px 0;
}
h2 span {
	background: #FFF;
	padding: 0 20px;
	position: relative;
	top: -10px;
}
.subtitle {
	border-top: 1px solid #222222;
	color: #222;
	font: 800 20px/20px "open sans";
	width: 609px;
}
.subtitle span {
	background: white;
	padding: 10px 10px;
	position: relative;
	top: -10px;
	text-align: center;
}
.description {
	position: relative;
	font: 400 14px/22px 'Merriweather';
	margin: auto;
	text-align: left;
	margin-bottom: 2em;
}
.description h3:before {
	content: 'Q';
	position: absolute;
	color: #AAA;
	font-size: 16px;
	font-weight: normal;
	left: -1.5em;
}
.description p:before {
	content: 'A';
	position: absolute;
	color: #AAA;
	font-size: 16px;
	font-weight: normal;
	left: -1.5em;
}
.logoBig {
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-image:url(http://www.yearcircler.com/images/logoBig.png);
	background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	max-width: 100%;
	height: 158px;
}
.mail {
	text-align: center;
	display: block;
	margin-top: 4em;
}
.thatsAllFolks {
	position: relative;
	width: 100%;
	text-align: center;
}
.button {
	position: relative;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFF19;
	border-radius: 6px;
	font-weight: 400;
	padding: 0.6em;
	box-shadow: 0 2px 5px #888888;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}
.button:hover {
	background-color: #FFD915;
}
.button:active {
	background-color: #FFD915;
	box-shadow: 0 0 0 #888;
	transform: translateY(2px);
	-ms-transform: translateY(2px);
	-webkit-transform: translateY(2px);
}
.description a {
	text-decoration: none;
	color: black;
}